<h2>Welcome!</h2>
<p>
  <span>If you would like to buy a pattern. Please go to my </span>
  <span><a href="http://www.etsy.com/shop/RudyLynnsQuilts">Etsy Page.</a> </span>
</p>
<h2>Patterns</h2>
<h3>Waste Not, Want Not</h3>
<%= image_tag "waste_not_want_not.jpg", :class => "pattern-image"%> 
<h3>Sample This!</h3>
<h3>Happy Anniversary</h3>
<h3>Marrakesh</h3>
<h3>Waste Not, Want Not</h3>
<h3>Sun's Up</h3>
